#unsorted
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

#yii
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
*.local.php

.idea

#eclipse
.settings
.project
.buildpath

#environment
.vagrant
.vagrant.d
.tmp
.ssh
.bash*
.zsh*
.vim*
!puphpet/files/dot/.ssh
!puphpet/files/dot/.bash*
!puphpet/files/dot/.zsh*
!puphpet/files/dot/.vim*
.VirtualBox

#Sync
.SyncIgnore
.SyncID
.SyncArchive
.dropbox.cache
.dropbox